@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  -webkit-font-smothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #071422;
}

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

input:focus {
  outline: 1px solid #3A536B;
}